/* Header/Logo Title */
.header {
	padding: 5px 0;
	position: relative;
	text-align: center;
	background: #F4C095;
	color: white;
	font-size: 30px;
	width: 100%;
	font-family: times-new-roman;
}
.header1 {
	padding: 5px 0;
	position: relative;
	text-align: center;
	background: #071E22;
	color: white;
	font-size: 30px;
	width: 100%;
	font-family: times-new-roman;
	}
.footer {
	padding: 28px 0;
	position: relative;
	text-align: center;
	background: #1D7874;
	color: white;
	font-size: 28px;
	width: 100%;
	font-family: times-new-roman;
}

html, body{
	padding: 0;
	margin: 0;
	font-family: times-new-roman;
}
.menuku{
	background-color: #F4C095;
	font-family: times-new-roman;
	font-size: 18px;
	}
	
.menuku ul {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	}
	
.menuku > ul > li {
	float: left;
}

.menuku li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;
}

.menuku li a:hover{
	background-color: #EE2E31;
	font-family: times-new-roman
}

	li.dropdown {
		display: inline-block;
}
	.dropdown:hover .isi-dropdown{
		display: block;
}
	.isi-dropdown a:hover{
		color:black !important;
}	
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
		z-index: 1;
		background-color:	#F4C095;
}
	.isi-dropdown a {
		color: white !important;
}
	.isi-dropdown a:hover {
		color: red !important;
		background: #F4C095 !important;
}