.footer {
	padding: 15px 0;
	position: relative;
	text-align: center;
	background: #2F4F4F;
	color: white;
	font-size: 10px;
	width: 100%;
	font-family: times-new-roman;
}
	li.dropdown {
		display: inline-block;
}
	.dropdown:hover .isi-dropdown{
		display: block;
}
	.isi-dropdown a:hover{
		color:white !important;
}	
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
		z-index: 1;
		background-color:	grey;
}
	.isi-dropdown a {
		color: white !important;
}
	.isi-dropdown a:hover {
		color: pink !important;
		background: 2F4F4F !important;
}
</style>