.sticky-header {
	background-color: #071E22;
	color: cyan;
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px 0px 20px 100px;
	text-align:left;
	letter-spacing: 0px;
	font-size: 40px;
	font-family: Gabriola;
}
.content-scroll{
	background-color: #679289;
	height:2100px;
	width:1000px;
	padding:100px 30px 30px 50px;
	font-size: 20px;
	font-family: Times-New-Roman;
	color: WHITE;
	text-align: justify;
}
.content-scroll p{
	padding:10px 0px 0px 20px;
}